:root {
    --color-purple: rgb(151, 71, 255);
    --color-red: rgb(208, 37, 37);
    --color-green: rgb(50, 168, 82);
    --color-blue: rgb(33, 150, 243);
    --color-orange: rgb(222, 147, 9);
    --color-champagne: rgb(255, 234, 208);
    --color-mauve: rgb(202, 168, 245);
    --color-tropicalindigo: rgb(153, 132, 212);
    --color-raisinblack: rgb(47, 36, 44);
    --color-viridian: rgb(78, 147, 122);
    --color-oldlace: rgb(255, 245, 232);
    --color-thistle: rgb(228, 212, 250);
    --color-periwinkle: rgb(204, 193, 233);
    --color-mountbattenpink: rgb(162, 134, 154);
    --color-tiffanyblue: rgb(161, 206, 190);
    --color-floralwhite: rgb(255, 248, 240);
}