.icon-wrapper {
    /* use display: flex in favor of grid to do side-by-side text descriptions easier for non self-explanatory actions */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    border-radius: 1rem;
    font-family: inherit;
    transition: background-color 150ms ease,
                transform 150ms ease;
    border: none;
    background: none;
}

button.icon-wrapper {
    cursor: pointer;
}

.icon-wrapper:has(.icon__description) {
    padding: 0.4rem;
    border-radius: 0.25rem;
}

.icon-wrapper.no-padding {
    padding: 0;
}

.icon-wrapper:not(.no-background)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: 150ms ease;
}

.icon-wrapper:not(.no-background):hover::before {
    background-color: rgb(from var(--color-text) r g b / 0.05);
}

.icon-wrapper.scale:active:hover {
    transform: scale(0.95);
}

.icon-wrapper.scale:has(.icon + *):active:hover {
    transform: scale(0.98);
}

.icon-wrapper > .icon {
    padding: 0;
    cursor: inherit;
    width: 1rem;
    height: 1rem;
}

.icon-wrapper > .icon__small {
    width: 0.7rem;
    height: 0.7rem;
}

.icon-wrapper > .icon__large {
    width: 1.2rem;
    height: 1.2rem;
}

.icon-wrapper > i.icon {
    --_icon-color: var(--color-text);
    /* mask-size: cover; */
    mask-repeat: no-repeat;
    mask-position: center;
    border-color: transparent;
    background-color: var(--_icon-color);
    transition: background-color 250ms ease;

    /* object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; */
}

.icon-wrapper > .icon__description {
    line-height: 1;
}

/* thanks fontawesome */

.icon__gear {
    mask-image: url("/icons/gear-solid.svg");
}

.icon__play {
    mask-image: url("/icons/play-solid.svg");
}

.icon__pause {
    mask-image: url("/icons/pause-solid.svg");
}

.icon__check {
    mask-image: url("/icons/check-solid.svg");
}

.icon__xmark {
    mask-image: url("/icons/xmark-solid.svg");
}

.icon__zoom-in {
    mask-image: url("/icons/magnifying-glass-plus-solid.svg");
}

.icon__zoom-out {
    mask-image: url("/icons/magnifying-glass-minus-solid.svg");
}

.icon__left-chevron {
    mask-image: url("/icons/chevron-left-solid.svg");
}

.icon__right-chevron {
    mask-image: url("/icons/chevron-right-solid.svg");
}

.icon__scissors {
    mask-image: url("/icons/scissors-solid.svg");
}

.icon__copy {
    mask-image: url("/icons/copy-solid.svg");
}

.icon__phone {
    mask-image: url("/icons/mobile-screen-solid.svg");
}

.icon__rename {
    mask-image: url("/icons/a-solid.svg");
}

.icon__more-options {
    mask-image: url("/icons/arrow-up-right-from-square-solid.svg");
}

.icon__share {
    mask-image: url("/icons/share-from-square-solid.svg");
}

.icon__delete {
    mask-image: url("/icons/trash-can-regular.svg");
}

.icon__folder {
    mask-image: url("/icons/folder-regular.svg");
}

.icon__image {
    mask-image: url("/icons/image-solid.svg");
}

.icon__list {
    mask-image: url("/icons/list-solid.svg");
}