*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    font-family: 'Open Sans', sans-serif;
}

.mixer {
    /* duration in seconds (for now) */
    --_duration: 40;
    --_timeline-width: 100px;
    --_timeline-space-duration: 1;
    --_track-width: calc(var(--_duration) * var(--_timeline-width) / var(--_timeline-space-duration));
    --_bg-color: hsl(0, 0%, 50%);
    --_accent-color: #ffd2a7;
    /* --_track-count: 5; */

    isolation: isolate;
    position: relative;
    /* width: 80dvw; */
    height: 60dvh;
    /* height: fit-content; */
    /* max-height: min(fit-content, 60dvh); */
    aspect-ratio: 2 / 1;
    display: flex;
    flex-direction: column;
    background: var(--_bg-color);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

.mixer[data-state="loading"] {
    &::before {
        content: '';
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        backdrop-filter: blur(5px) saturate(180%);
    }

    /* &::after {
        content: url("loading.gif");
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 20%;
        aspect-ratio: 1;
        transform: translate(-50%, -50%) scale(0.5);
    } */
}

.mixer > .main-wrapper {
    display: flex;
    overflow: hidden;
    padding: 1rem;
    
    & .track-controls {
        /* width: fit-content; */
        width: 20%;
        overflow: auto;
        /* resize: horizontal; */
    }
    
    & .scroll-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: scroll;
        overscroll-behavior: contain;
    }
}

.mixer .slider {
    --_slider-width: 2px;
    --_handle-width: 20px;
    --_handle-height: calc(var(--_handle-width) / 2);
    --_handle-color: var(--color-blue);

    z-index: 4;
    position: absolute;
    top: 0;
    /* can use percentages/relative values when .slider is a child of .track-list  */
    /* must use absolute values when .slider is a direct child of scroll-wrapper  */
    /* left: 1400px; */
    width: var(--_slider-width);
    height: 100%;
    background: var(--_handle-color);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: var(--_handle-width);
        height: var(--_handle-height);
        transform: translateX(calc(-50% + (var(--_slider-width) / 2)));
        background: var(--_handle-color);
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        width: calc(var(--_handle-width) / sqrt(2));
        height: calc(var(--_handle-width) / sqrt(2));
        transform:
            translate(
                calc(-50% + (var(--_slider-width) / 2)),
                calc(var(--_handle-height) - (var(--_handle-height) / sqrt(2)))
            )
            rotate(45deg);
        background: var(--_handle-color);
    }
}

.mixer .timeline-wrapper {
    /* use z-index: 3 to cover canvas elements in shadow DOM (they must use z-index: 2 or something) */
    z-index: 3;
    position: sticky;
    top: 0;
    background: var(--_bg-color);
    border-bottom: 5px solid yellow;
    width: var(--_track-width);
    /* border-bottom: 5px solid var(--_accent-color); */

    & .timeline {
        --_timeline-std-height: 20px;
        display: grid;
        grid-template-rows: calc(var(--_timeline-std-height) * 2 + 1rem);
        grid-template-columns: repeat(var(--_duration), var(--_timeline-width));
        grid-auto-flow: column;
    }

    & .timeline > *:not(:nth-child(5n)) {
        height: var(--_timeline-std-height);
        border-left: 1px solid hsl(from var(--_bg-color) h s calc(l * 1.1));
        border-right: 1px solid hsl(from var(--_bg-color) h s calc(l * 1.1));
    }

    & .timeline > *:nth-child(5n) {
        position: relative;
        height: calc(var(--_timeline-std-height) * 2);
        border-right: 2px solid hsl(from var(--_bg-color) h s calc(l * 1.5));
    }

    & .timeline > *:nth-child(5n)::before {
        content: attr(data-value);
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50%, 100%);
        line-height: 1;
        color: hsl(from var(--_bg-color) h s calc(l * 2));
    }
}

.mixer .track-list {
    --_track-count: 15;
    --_track-height: 4rem;
    position: relative; /* make the track list the containing block for the slider  */
    display: flex;
    flex-direction: column;
    gap: calc(var(--_track-height) * 0.1);
    padding-bottom: 1rem;
    width: var(--_track-width);

    & .track {
        flex-shrink: 0;
        height: var(--_track-height);
        background: hsl(from var(--_bg-color) h s calc(l * 0.8));
    }
}

/* .mixer .track .crop-tool {
    --_v: 2px;
    --_h: 5px;
    --_radius: 10px;

    position: absolute;
    width: var(--_audio-width);
    height: 100%;
    background: black;
    
    &[data-status="active"] {
    }

    &[data-status="active"] .audio-wrapper {
        clip-path:
            xywh(
                var(--_h)
                var(--_v)
                calc(var(--_audio-width) - 2 * var(--_h))
                calc(var(--_track-height) - 2 * var(--_v))
                round var(--_radius)
            );
    }
} */

.mixer .track .audio-wrapper {
    --_audio-width: 0px;
    /* need to define --_color, but overwrite with inline style */
    --_color: var(--color-purple);
    --_color-lighter: hsl(from var(--_color) h s calc(l * 1.25));
    --_color-darker: hsl(from var(--_color) h s calc(l * 0.5));

    position: relative;
    /* isolation: isolate; */
    width: var(--_audio-width);
    height: 100%;
    color: var(--_color-lighter);
    background-color: var(--_color-darker);
    /* border-radius: 1ch; */

    &::before {
        content: attr(data-title);
        position: absolute;
        inset: 0;
        height: fit-content;
        font-size: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-inline: 1ch;
        color: var(--_color-darker);
        background: var(--_color-lighter);
    }

    /* probably redundant, I'm using cursorWidth: 0 in the JS */
    &::part(cursor) {
        display: none;
    }

    &[data-muted="true"]::after {
        content: '';
        /* z-index: 2; */
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: saturate(70%);
        /* border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit; */
    }

    & .crop-tool {
        --_top: 0px;
        --_left: 110px;
        --_bottom: calc(var(--_track-height) - var(--_top));
        --_right: var(--_audio-width);
        --_right: calc(var(--_audio-width) - 57px);

        z-index: 3;
        position: absolute;
        inset: 0;
        width: var(--_audio-width);
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        /* create a frame, adjust private custom attributes above in JS with mousemove */
        clip-path: polygon(
            0% 0%,
            0% 100%,
            var(--_left) 100%,
            var(--_left) var(--_top),
            var(--_right) var(--_top),
            var(--_right) var(--_bottom),
            var(--_left) var(--_bottom),
            var(--_left) 100%,
            100% 100%,
            100% 0%
        );
    }

    & .crop-tool[data-state="inactive"] {
        display: none;
    }

    & .crop__left-handle,
    .crop__right-handle {
        position: absolute;
        inset: 0;
        width: 10px;
        height: 100%;
        background: yellow;
        border-radius: 5px;
        cursor: col-resize;
    }
    
    & .crop__left-handle {
        left: var(--_left);
        transform: translateX(-100%);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    & .crop__right-handle {
        left: var(--_right);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.mixer > .controls {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    & .time-controls {
        flex-grow: 1;
        accent-color: var(--_accent-color);
    }
}

#audio-controls {
    --_bg-color: white;
    --_accent-color: var(--color-purple);
    /* use inline style to set --_accent-color to the audio color */

    z-index: 1000;
    position: fixed;
    padding: 0.75ch;
    background-color: var(--_bg-color);
    border-color: hsl(from var(--_bg-color) h s calc(l * 0.75));
    border-radius: 0.375ch;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);

    &[data-state="hidden"] {
        display: none;
    }
}

#audio-controls .control {
    display: flex;
    gap: 0.5ch;
    border-radius: 0.25ch;

    &:not(:has(input[type="range"], button:disabled)):hover {
        background-color: hsl(from var(--_bg-color) h s calc(l * 0.925));
    }

    &:not(:last-child) {
        border-bottom: 1px solid hsl(from var(--_bg-color) h s calc(l * 0.75));
    }
}

#audio-controls button {
    font-family: inherit;
    width: 100%;
    height: 100%;
    padding: 1ch;
    background: none;
    border: none;
    text-align: left;

    &:not(:disabled) {
        cursor: pointer;
    }
}

#audio-controls input[type="range"] {
    accent-color: var(--_accent-color);
}